#### Data Type - String

In [1]:
data='Kelas Algoritma'

In [3]:
print(data[7],data[11])

l i

In [3]:
data[:-1]

'Kelas Algoritm'

In [4]:
data='algoritma'
temp=''
for i in range(len(data)):
    temp+=data[i]
print(temp)

algoritma

In [5]:
print(data[2:8]) #a sampai b-1

las Al

In [6]:
print(data[-1]) #offset yg terakhir

a

In [4]:
data[:]

'Kelas Algoritma'

In [7]:
print(data[:5],data[0:5]) #:5=0:5 offset pertama dan terakhir dapat tidak ditulis

Kelas Kelas

In [7]:
print(data[5:],data[5:-1])

 Algoritma  Algoritm

In [13]:
print(data,len(data))
num=len(data)
for i in range(num):
    print('offset-',i,':',data[i])

Kelas Algoritma 15
offset- 0 : K
offset- 1 : e
offset- 2 : l
offset- 3 : a
offset- 4 : s
offset- 5 :
offset- 6 : A
offset- 7 : l
offset- 8 : g
offset- 9 : o
offset- 10 : r
offset- 11 : i
offset- 12 : t
offset- 13 : m
offset- 14 : a

In [14]:
for karakter in data:
    print(karakter)

K
e
l
a
s

A
l
g
o
r
i
t
m
a

In [15]:
offsetCh=0
for karakter in data:
    print('offset-',offsetCh,':',karakter)
    offsetCh+=1

offset- 0 : K
offset- 1 : e
offset- 2 : l
offset- 3 : a
offset- 4 : s
offset- 5 :
offset- 6 : A
offset- 7 : l
offset- 8 : g
offset- 9 : o
offset- 10 : r
offset- 11 : i
offset- 12 : t
offset- 13 : m
offset- 14 : a

In [16]:
print(data) #immutable (tdk bisa dilakukan pergantian menggunakan operator assignment)
data[0]='T'

Kelas Algoritma

NameError: name 'T' is not defined

In [18]:
print(data.upper()) #ketik titik (.) lalu Tab

KELAS ALGORITMA

In [19]:
print(data.find('m')) #mencari offset suatu karakter

13

In [20]:
print(data.replace('K','T')) #method mengganti variabel data

Telas Algoritma

In [21]:
#Konversi Biner ke Desimal
binStr='110'
for i in range(0,len(binStr),1): #(awal,akhir,interval)
    print(binStr[i])

1
1
0

In [32]:
binStr=input('masukkan biner = ')
pangkat=0
hasil=0
for i in range(len(binStr)-1,-1,-1): #iterasi akan berhenti pada Offset sebelum angka yang terlrtak pada parameter "akhir"
    print(binStr[i],pangkat)
    hasil=hasil+int(binStr[i])*2**pangkat
    pangkat+=1
print(hasil)

masukkan biner = 1010
0 0
1 1
0 2
1 3
10

### List

In [33]:
data=[90,56,34,78,86,90,87,88,75,65,86,57,89,67,80]

In [34]:
data[11]

57

In [35]:
#data[a:b]
data[6:10]

[87, 88, 75, 65]

In [37]:
#data[0:5]
data[:5]

[90, 56, 34, 78, 86]

In [40]:
#data[9:15]
data[9:]

[65, 86, 57, 89, 67, 80]

In [41]:
data[-1] #data terakhir

80

In [43]:
print(data)
data[1]=75 #mutable
print(data)

[90, 56, 34, 78, 86, 90, 87, 88, 75, 65, 86, 57, 89, 67, 80]
[90, 75, 34, 78, 86, 90, 87, 88, 75, 65, 86, 57, 89, 67, 80]

In [44]:
num=len(data) #banyaknya data/jumlah
print(num)
for i in range(num):
    print(data[i])

15
90
75
34
78
86
90
87
88
75
65
86
57
89
67
80

In [45]:
for nilai in data:
    print(nilai)

90
75
34
78
86
90
87
88
75
65
86
57
89
67
80

In [47]:
temp=0
for nilai in data:
    temp=temp+nilai
rata2=temp/len(data)
print('total',temp,'dan rata-ratanya',rata2)

total 1147 dan rata-ratanya 76.46666666666667

In [49]:
uang=[100000,50000,20000,10000,5000,2000,1000]
strUang=['seratus ribu','lima puluh ribu','dua puluh ribu','sepuluh ribu','lima ribu','dua ribu','seribu']

rupiah=int(input('masukkan uang = '))
sisa=rupiah
stop=False
indUang=0
while not(stop):
    bagi=sisa//uang[indUang]
    print(bagi,' lembar ', strUang[indUang])
    sisa=sisa%uang[indUang]
    if sisa==0:
        stop=True
    indUang+=1

masukkan uang = 90000
0  lembar  seratus ribu
1  lembar  lima puluh ribu
2  lembar  dua puluh ribu

In [51]:
uang=[100000,50000,20000,10000,5000,2000,1000,500,200,100]
strUang=['seratus ribu','lima puluh ribu','dua puluh ribu','sepuluh ribu','lima ribu','dua ribu','seribu','limaratus','duaratus','seratus']

rupiah=int(input('masukkan uang = '))
sisa=rupiah
stop=False
indUang=0
while not(stop):
    bagi=sisa//uang[indUang]
    if bagi!=0:
        print(bagi,' lembar ', strUang[indUang])
    sisa=sisa%uang[indUang]
    if sisa==0:
        stop=True
    indUang+=1

masukkan uang = 95700
1  lembar  lima puluh ribu
2  lembar  dua puluh ribu
1  lembar  lima ribu
1  lembar  limaratus
1  lembar  duaratus

In [2]:
angka=[500,200,100,50]
strAngka=['limaratus','duaratus','seratus','limapuluh']

berapa=int(input('berapa = '))
sisa=berapa
stop=False
indAngka=0
while not(stop):
    bagi=sisa//angka[indAngka]
    if bagi!=0:
        print(bagi,'keping',strAngka[indAngka])
    sisa=sisa%angka[indAngka]
    if sisa==0:
        stop=True
    indAngka+=1

berapa = 5000
10 keping limaratus

In [3]:
len(angka)

4

# list

In [3]:
list1=[]
list2=[]

sizeList=int(input('ukuran list = '))
for i in range(sizeList):
    temp='masukkan data ke-'+str(i)+' = '
    list1.append(int(input(temp)))
    
sizeList=int(input('ukuran list = '))
for i in range(sizeList):
    temp='masukkan data ke-'+str(i)+' = '
    list2.append(int(input(temp)))
    
print(list1)
print(list2)

ukuran list = 3
masukkan data ke-0 = 1
masukkan data ke-1 = 2
masukkan data ke-2 = 3
ukuran list = 4
masukkan data ke-0 = 1
masukkan data ke-1 = 2
masukkan data ke-2 = 3
masukkan data ke-3 = 4
[1, 2, 3]
[1, 2, 3, 4]

# fungsi 1 - tanpa parameter, tanpa return value

```
def NamaFungsi():
    syntax_1
    syntax_2

In [5]:
def displayText():
    print('alpro')

In [6]:
displayText()

alpro

In [9]:
def penjumlahan():
    bil1=int(input('bil1 = '))
    bil2=int(input('bil2 = '))
    hasil=5+3
    print(hasil)

In [10]:
penjumlahan()

bil1 = 3
bil2 = 6
8