####  Algoritma-1

In [8]:
n=int(input('n = '))
temp=0

for i in range(n+1):
    y=i**2+2*i
    print(y)
    i=i+1
    temp=temp+y
print('y = ',temp)

n = 5
0
3
8
15
24
35
y =  85

In [ ]:
temp=0
a=0
counter=0
n=int(input('n = '))
while counter<=n :
    if a%2==1:
        temp=temp+a
        counter=counter+1
        print(a)
print('jumlah =',temp)

n = 5

In [ ]:
bil=0
counter=1
n=int(input('n = '))
while counter<=n:
    if bil%2==1:
        print(bil)
        counter+=1
    bil+=1

In [ ]:
temp=0
n=int(input('n = '))
for i in range(n):
    if i%2==1:
        temp=temp+i
        print(i)
print('jumlah =',temp)

In [26]:
nMax=int(input('banyak suku n='))
a=int(input('a='))
b=int(input('b='))
n=1

for i in range(1,nMax+1):
    Un=a+(n-1)*b
    print('suku ke-',n,'adalah',Un)
    n+=1

Sn=nMax/2*(2*a+(nMax-1)*b)
print('jumlah seluruh suku dari suku pertama sampai suku ke-',sukuMax,'adalah',Sn)

banyak suku n=3
a=4
b=6
suku ke- 1 adalah 4
suku ke- 2 adalah 10
suku ke- 3 adalah 16
jumlah seluruh suku dari suku pertama sampai suku ke- 5 adalah 30.0

In [25]:
n=int(input('n='))
a=int(input('a='))
b=int(input('b='))

Un=a+(n-1)*b
print('suku ke-',n,'adalah',Un)

Sn=n/2*(2*a+(n-1)*b)
print('jumlah seluruh suku dari suku pertama sampai suku ke-',n,'adalah',Sn)

n=3
a=4
b=6
suku ke- 3 adalah 16
jumlah seluruh suku dari suku pertama sampai suku ke- 3 adalah 30.0

In [1]:
Un=int(input('Un='))
a=int(input('a='))
b=int(input('b='))
n=1

for i in range(1,Un+1):
    Un=a+(n-1)*b
    print('suku ke-',n,'adalah',Un)
    n+=1

Sn=Un/2*(2*a+(Un-1)*b)
print('jumlah seluruh suku dari suku pertama sampai suku ke-',Un,'adalah',Sn)

Un=3
a=4
b=6
suku ke- 1 adalah 4
suku ke- 2 adalah 10
suku ke- 3 adalah 16
jumlah seluruh suku dari suku pertama sampai suku ke- 16 adalah 784.0